@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --secondary-color: #022b28;
  --color-cadetblue: #76aeb1;
  --color-white: #fff;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-3xs: 10px;
}